<head>
  <title>{{message}}</title>
  <meta charset="utf-8">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
  <link rel="shortcut icon" sizes="48x48" href="/public/favicon.ico">
  <meta name="theme-color" content="#fff">
  <link rel="manifest" href="/manifest.json">
</head>
<body>
  <div class="__error-page">

    <div class="error">
      <svg xmlns="http://www.w3.org/2000/svg" width="90" height="90" fill="#DBE1EC" viewBox="0 0 48 48"><path d="M22 30h4v4h-4zm0-16h4v12h-4zm1.99-10C12.94 4 4 12.95 4 24s8.94 20 19.99 20S44 35.05 44 24 35.04 4 23.99 4zM24 40c-8.84 0-16-7.16-16-16S15.16 8 24 8s16 7.16 16 16-7.16 16-16 16z"/></svg>
      <h1 class="title">{{message}}</h1>
      <div class="description">Sorry but page what you search is not available</div>
    </div>

    <div class="logo">
      <a href="https://gora.studio" target="_blank" rel="noopener">GORA Studio</a>
    </div>
  </div>
</body>

<style>
  .__error-page{padding: 1rem;background:#f7f8fb;color:#47494e;text-align:center;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;font-family:sans-serif;font-weight:100!important;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-font-smoothing:antialiased;position:absolute;top:0;left:0;right:0;bottom:0}
  .__error-page .error{max-width:450px}
  .__error-page .title{font-size:24px;margin-top:30px;color:#47494e;margin-bottom:8px}
  .__error-page .description{color:#7f828b;line-height:21px;margin-bottom:10px}
  .__error-page a{color:#7f828b!important;text-decoration:none}
  .__error-page .logo{position:fixed;left:12px;bottom:12px}
</style>
