<template>
  <div class="page-Home">
    <section class="py-5">
      <div class="container text-center">
        <h2 class="text-uppercase strong">Vue.js SSR Template</h2>
      </div>
    </section>
  </div>
</template>
